.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.main {
    background: var(--inverted-bg-color);
    color: var(--secondary-color);
    border-radius: 8px;
    padding: 10px 20px;
}
