.app.light {
  --bg-color: #f1f1f1;
  --inverted-bg-color: #000000;

  --primary-color: black;
  --secondary-color: #282828;
  --inverted-primary-color: white;
  --inverted-secondary-color: #c3c3c3;
}